<!DOCTYPE HTML>
<html>
  <head>
    <title>Maijin</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div id="container">hello</div>
    <script src="scripts/app.js" type="text/javascript"></script>
  </body>
</html>
