* {
	/*border: 1px solid crimson;*/
}

body {
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
  text-align: center;
}

a {
  color: #00b7ff;
  cursor: pointer;
}

.navbar {
	margin: 0;
	border: 2px solid turquoise; 
}

#navbar-logo {
	width: 100px;
	float: left;
	border: 2px solid slateblue;
}

.navbar-links-container {
	margin: 0;
	border: 2px solid black;
	padding: 0;
}

.navbar-links-container a {
	display: inline-block;
	width: 18%;
	margin: 5px 2px;
	font-size: 20px;
	border: 2px solid red;
	text-decoration: none;
}

.users-banner {
	border: 2px solid lawngreen;
}

.users-icon-container {
	display: inline-block;
	width: 19%;
	/*border: 2px solid lavenderblush;*/
	float: left;
}

.banner-info {
	display: inline-block;
	width: 79%;
	border: 2px solid black;
}

#users-banner-icon {
	width: 60px;
}

.main-container {
	border: 2px solid darkorchid;
}

.categories-container {
	display: inline-block;
	border: 2px solid indigo;
	width: 19%;
	float: left;
}

.the-categories{
	
}

.users-container {
	border: 2px solid black;
	display: inline-block;
	width: 79%;

}

.search-users {
	border: 1px solid chocolate;
}

input {
	font-size: 30px;
	width: 80%;
}

.user {
	border: 1px solid cyan;
	display: inline-block;
	width: 30%;
	margin: 10px;
	position: relative;
	padding: 0;
}

.user-landscape {
	float: left;
	display: inline-block;
	width: 23%;
	height: 350px;
	overflow: hidden;
	border: 2px solid darkgoldenrod;
	
	background-image: url("https://static.pexels.com/photos/92340/pexels-photo-92340.jpeg")
}

#landscape {
	width: 100%;
	display: inline-block;
}

.user-info {
	display: inline-block;
	/*border: 2px solid limegreen;*/
	height: 350px;
	width: 73%;

}

p {
	text-align: center;
	font-size: 30px;
}

#avatar {
	width: 20%;
	border: 2px solid whitesmoke;
	border-radius: 50%;
	position: absolute;
	top: 10%;
	left: 15%;

}







